{% extends '::base.html.twig' %}

{% block body %}

	
	<div class="col-md-10">
	    <div id="injectedVue">
	    	{% if content == "capteur" %}
	    		{{ include(
		            'GhomeContentBundle::listCapteurs.html.twig',
		            { 'form': form }
		        ) }}
	    	{% elseif content == "space" %}
	    		{{ include(
		            'GhomeContentBundle::listSpaces.html.twig',
		            { 'form': form, 'spaces':spaces }
		        ) }}
	        {% elseif content == "actionneurs" %}
    		{{ include(
	            'GhomeContentBundle::listActionneurs.html.twig',
	            { 'form': form, 'actionneurs':actionneurs }
	        ) }}
	    	{% endif %}
	    </div>
	</div>
{% endblock %}