<fieldset>
	<form action="{{ path('ghome_content_addSpace') }}" method="post" {{ form_enctype(form) }}>

		<div class="container well">
			<div class="row">
				<div class="span5">
				<legend>Formulaire d'ajout d'adhérent</legend>
			</div>
			</div>
		</div>

	</form>
</fieldset>
